/* Setting up important properties. */

:root {
    /* 
    color palette  
    */
    --green-clr: hsl(136, 65%, 51%);
    --cyan-clr: hsl(192, 70%, 51%);
    --dark-blue-clr: hsl(233, 26%, 24%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grey: hsl(0, 0%, 98%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


/* Andy bell css reset here  */


/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
    list-style: none;
}


/* Set core root defaults */

html,
html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Andy bell css reset ends  */


/* Main styling starts here */

body,
html {
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: var(--light-grey);
}

section {
    margin-left: 120px;
}

button:hover {
    cursor: pointer;
}


/* Navigation styling starts here */

.navbar {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 1111111;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3px;
    background-color: var(--white);
    transition: all .2s ease-in-out;
}

.nav-button,
.home-btn {
    border: none;
    font-size: .7rem;
    font-weight: 700;
    color: var(--white);
    padding: .6rem 1.5rem;
    border-radius: 30px;
    background-image: linear-gradient(90deg, var(--green-clr) -20%, var(--cyan-clr));
    transition: background-image .1s;
}

.nav-button:hover,
.nav-button:focus {
    background-image: linear-gradient(var(--green-clr), var(--green-clr));
}

.navlist a {
    color: var(--grayish-blue);
    font-size: .8rem;
    margin-right: 1.3rem;
    position: relative;
    transition: .3s;
}

.navlist a:hover {
    color: black;
}

.navlist a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: var(--green-clr);
    height: 3px;
    width: 0%;
    transition: .3s;
}

.navlist a:hover::after {
    width: 100%;
}


/* Navigation styling ends here */


/* Body styling starts here */


/* Home styling starts here */

.home-right img {
    position: absolute;
    right: -100px;
    top: -50px;
    z-index: 1;
}

.home-left {
    padding-top: 220px;
}

.box-shadow {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
}

.phone-background {
    width: 60%;
}

.phone-mockup {
    width: 50%;
}

.home-left h1 {
    font-size: 3.5rem;
    font-weight: 300;
    color: var(--dark-blue-clr);
    width: 500px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.home-left p {
    width: 350px;
    font-size: .8rem;
    color: var(--grayish-blue);
}

.home-btn {
    margin-top: 30px;
}

.home-btn:hover,
.home-btn:focus {
    background-image: linear-gradient(var(--green-clr), var(--green-clr));
}


/* Home styling ends here */


/* About us styling starts here */

#about-us {
    background-color: var(--light-grayish-blue);
    margin-left: 0;
    margin-top: 200px;
    z-index: -1;
}

.about-us h2 {
    padding-top: 6rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: var(--dark-blue-clr);
    font-size: 3rem;
}

.about-us h3 {
    font-weight: 300;
    color: var(--dark-blue-clr);
    padding-bottom: 1.5rem;
}

.about-us p {
    font-size: .9rem;
    text-align: center;
    color: var(--dark-blue-clr);
    font-size: .8rem;
}

.about-us .about-paragraph {
    width: 500px;
    text-align: center;
    font-size: .9rem;
    margin-bottom: 5rem;
}

.container {
    display: grid;
    content: '';
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about-card {
    text-align: center;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.about-card:hover,
.about-card:focus {
    background-color: var(--white);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    transform: scale(1.1);
}

.card-paragraph {
    padding-bottom: 1.5rem;
}

.about-card img {
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}


/* About us styling ends here */


/* Body styling ends here */


/* Main styling ends here */